body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(36, 51, 85);
  }
  
  .chambre {
    background-color: rgba(17, 24, 39, 1);
    padding: 20px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .chambre a {
    background-color: rgba(167, 139, 250, 1);
    text-decoration: none;
    color: rgba(243, 244, 246, 1);
    margin-bottom: 10px;
    display: block;
    padding: 10px;
    border-radius: 4px;
    width: 50%;
    margin: auto;
  }
  
  .chambre h2 {
    color: rgba(243, 244, 246, 1);
  
    margin-top: 10px;
  }
  
  .chambre p {
    margin-bottom: 10px;
    color: rgba(243, 244, 246, 1);
  }
  
  .chambre hr {
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .chambre .retour {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .chambre .retour a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .chambre .success {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .chambre .success a {
    color: white;
    font-weight: bold;
  }
  