.formReg {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  
  .titleReg {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  
  .messageReg, .signinReg {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signinReg {
    text-align: center;
  }
  
  .signinReg a {
    color: royalblue;
  }
  
  .signinReg a:hover {
    text-decoration: underline royalblue;
  }
  
  .flexReg {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .formReg label {
    position: relative;
  }
  
  .formReg label .inputReg {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .formReg label .inputReg + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .formReg label .inputReg:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .formReg label .inputReg:focus + span,.form label .inputReg:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .submitReg {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submitReg:hover {
    background-color: rgb(56, 90, 194);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }