h1{
  color: purple;
}

#parent{
  border: 2px black solid;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: blue;
}

#enfant{
  border: 2px black solid;
  width: 250px;
  height: 250px;
  background: red;
}

.text-gold{
  color: gold;
}

#garage{
  border: 2px solid black;
  padding: 20px;
}

.voiture{
  color: white;
  background: #000;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
}