@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "RobotoRegular";
}
@font-face {
  font-family: "RobotoRegular";
  src: local("RobotoCondensed-Regular"),
    url("./assets/font/RobotoCondensed-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Aquatic";
  src: local("Aquatic"),
    url("./assets/font/AQUATIC.ttf") format("truetype");
}

h1 {
  /* font-size: 30px; */
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.app {
  /* background-color: rgb(134, 154, 211); */
  /* background-color: aqua; */
  background-image: url("./assets/img/bg2.png");
  /* background-color: green; */
  background-size: contain;
  background-size: 100%;
}

