/* Page entière */

body{
    margin: 0px;
}


/* Haut de la page */

header{
    display: flex;
    border: solid 5px black;
    background-color: #c8c8c8;
}

header p{
    display: flex;
    margin: 25px;
    align-items: center;
}

header p a{
    color: black;
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;
}

img{
    width: 100px;
    margin: 10px;
}

/* Centre de la page */

main{
    display: flex;
    justify-content: center;
}

 form{
    border: solid 5px black;
    border-radius: 25px;
    padding: 10px 450px 25px;
    margin-top: 10px;
    margin-bottom: 100px;
    background-color: #ececec;
}

section{
    border: solid 3px black;
    border-radius: 10px;
    margin: 50px;
    padding: 0px 75px 10px;
    background-color: white;
}

label p{
    display: flex;
    align-items: center;
    justify-content: center;
}

label input{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px black;
    border-radius: 10px;
    padding-bottom: 10px;
}

#bouton{
    display: flex;
    background-color: #ff0000;
    font-weight: bolder;
    padding: 5px 100px 5px;
    margin: 50px;
    border: solid 3px black;
    border-radius: 10px;
}


/* Bas de la page */

footer{
    border: solid 5px black;
    background-color: #c8c8c8;
}

footer p{
    display: flex;
    justify-content: center;
    color: grey;
}

footer p a{
    color: grey;
    text-decoration-color: black;
}