* {
    border-radius: 30px;
    padding: 8px;
    text-align: center;
}
body {
    min-height: 100vh;
    transition: .5s;
}
img {
    margin: 0 auto;
    height: 200px;
    visibility: hidden;
}
.show {
    visibility: visible;
    opacity: 1;
}
    